<%= form_for @profile do |f| %>
  <div class='col m6'>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, required: true %>
  </div>
  <div class='col m6'>
    <%= f.label :last_name %>
    <%= f.text_field :last_namename, required: true %>
  </div>
  <div class='col m6'>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class='input-field col m6'>
   <%= f.label :language %>
     <br />
     <br />
   <%= f.select :language, ['Ruby on Rails', 'HTML/CSS', 'JavaScript', 'PHP', 'Python', 'Jave', 'Cake', 'ReactJS'] %>
 </div>
  <div class='col m6'>
    <%= f.label :experience %>
    <%= f.text_field :experience %>
  </div>
  <div class='col m6'>
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>
  <div class='center'>
    <%= f.submit class: 'btn form-button' %>
  </div>
<% end %>
