<h1><%= @profile.full_name %></h1>
<hr>

<% if @profile.avatar? %>
  <%= cl_image_tag(@profile.avatar.path, { size: '125x125', crop: :fit }) %>
<% end %>

<%= link_to "Edit", edit_profile_path(@profile), class: "btn" %>


<hr>
<div class='center'>
  <%= link_to "New Post", new_profile_post_path(@profile), class: 'btn' %>
  <h2>Recent Posts</h2>
</div>
<br>
<% if @posts.try(:any?) %>
  <div class="row">
    <% @posts.order('created_at DESC').each do |post| %>
       <div class="col s12 m6">
         <div class="card blue-grey darken-1">
           <div class="card-content white-text">
             <p><%= post.created_at.strftime("%b %e at %l:%M %p") %></p>
             <span class="card-title"><%= post.title %></span>
             <small><%= post.category %></small>
             <p><%= post.body %></p>
           </div>
           <% if current_user.id == @profile.user_id %>
             <div class="card-action">
               <%= link_to "Edit", edit_profile_post_path(@profile, post) %>
               <%= link_to "Delete", profile_post_path(@profile, post), method: :delete, data: {confirm: 'Really Delete?'}%>
             </div>
           <% end %>
         </div>
       </div>
    <% end %>
   </div>
 <% end %>
<hr>
