<h1 class='center'><%= @profile.full_name %></h1>
<hr>

<div>
  <div class="leftfloat1">
    <% if @profile.avatar? %>
      <%= cl_image_tag(@profile.avatar.path, { size: '250x250', crop: :fit }) %>
    <% end %>
    <br><br>
    <%= link_to "Edit Profile", edit_profile_path(@profile), class: "btn blue" %>
    <br><br>
  </div>
  <div class="leftfloat2">
    <h4>Language: <small><%= @profile.language %></small></h4>
    <h4>Experience: <small><%= @profile.experience %></small></h4>
    <h4>Bio: <small><%= @profile.bio %></small></h4>
  </div>
</div>
<br>

<hr class='clearfloat'>
<div class='center'>
  <%= link_to "New Post", new_profile_post_path(@profile), class: 'btn blue' %>
  <h2>Recent Posts</h2>
</div>
<br>
<% if @posts.try(:any?) %>
  <div class="row">
    <% @posts.order('created_at DESC').each do |post| %>
       <div class="col s12 ">
         <div class="card grey darken-3">
           <div class="card-content white-text">
             <p class="right"><%= post.created_at.strftime("%b %e at %l:%M %p") %></p>
             <br>
             <span class="card-title"><%= post.title %></span>

             <small style="color:yellow;"> -  <%= post.category %></small>
             <p><%= post.body %></p>
           </div>
           <% if current_user.id == @profile.user_id %>
             <div class="card-action center">
               <%= link_to "Edit", edit_profile_post_path(@profile, post), class: 'btn blue darken-2' %>
               <%= link_to "Delete", profile_post_path(@profile, post), class: 'btn red darken-3', method: :delete, data: {confirm: 'Really Delete?'}%>
             </div>
           <% end %>
         </div>
       </div>
    <% end %>
   </div>
 <% end %>
<hr>
