<!DOCTYPE html>
<html>
  <head>
    <title>Hackathon1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </head>

  <body class='purple lighten-5'>
    <%= render(partial: 'layouts/navbar') %>
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>">
        <%= value %>
      </div>
    <% end %>
    <main>
      <div class='container'>
        <%= yield %>
      </div>
    </main>
    <footer class="page-footer teal accent-3">
      <div class="container">
        <div class="row">
          <div class="col l4 offset-l2 s12">
            <ul>
              <li class="grey-text text-lighten-4">Copyright (c) 2016 Hackers-R-Us All Rights Reserved.</li>
            </ul>
          </div>
          <div class="col l4 offset-l2 s12">
            <ul class="white-text">
              <li><a class="grey-text text-lighten-4" href="#!">Link 1</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
